<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div id="page-wrapper">

    <div class="uk-position-center">
        <h1 class="uk-heading-medium uk-text-center">Administration</h1>
        <div class="uk-inline uk-margin uk-margin-large-top">
            <ul class="uk-navbar-nav">

                <li class="uk-active">
                    <a th:href="@{/admin/users}">
                        <div uk-icon="icon: users; ratio: 4" uk-tooltip="All users"></div>
                    </a>
                </li>

                <li class="uk-active">
                    <a th:href="@{/admin/feedbacks}">
                        <div uk-icon="icon: mail; ratio: 4" uk-tooltip="Feedback"></div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>