<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div id="page-wrapper" data-src="/img/1093402.jpg" uk-img>

    <h1 class="uk-heading-medium uk-text-center uk-margin-large-top">Feedback</h1>

    <div class="uk-text-center uk-margin uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">
        <div th:switch="${action_result}">
            <div th:case="'has errors'">
                <script>
                    errorMessage();
                </script>
            </div>
            <div th:case="'successfully'">
                <script>
                    successMessage();
                </script>
            </div>
        </div>
    </div>

    <div class="uk-container uk-margin-large-top">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">
                <thead>
                <tr>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="feedback : ${feedbacks}">

                    <td>
                        <a th:href="@{/admin/feedbacks/{id}(id=${feedback.messageId})}">
                            <div th:if="${feedback.markAsRead == false}">
                                <strong th:text="${feedback.shortText()}"></strong>
                            </div>
                            <div th:if="${feedback.markAsRead == true}">
                                <span class="uk-text-secondary" th:text="${feedback.shortText()}"></span>
                            </div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="uk-text-center uk-margin">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>