<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>
    <h1 class="uk-heading-medium uk-text-center uk-margin-large-top">Users</h1>

    <div th:switch="${action_result}">
        <div th:case="'has errors'">
            <script>
                errorMessage();
            </script>
        </div>
        <div th:case="'successfully'">
            <script>
                successMessage();
            </script>
        </div>
    </div>

    <div class="uk-container uk-margin-large-top">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">
                <thead>
                <tr>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="@{/admin/users/{id}(id=${user.userId})}" th:text="${user.username}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="uk-text-center">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>