<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div id="page-wrapper">
    <h1 class="uk-heading-medium uk-text-center uk-margin-large-top">Users</h1>

    <div class="uk-text-center uk-margin uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">
        <div th:switch="${message}">
            <div th:case="'has errors'">
                <div class="uk-text-center uk-margin">
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>ERRORS</p>
                    </div>
                </div>
            </div>
            <div th:case="'successfully'">
                <div class="uk-text-center uk-margin">
                    <div class="uk-alert-success" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>SUCCESSFULLY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-margin-large-top">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">
                <thead>
                <tr>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="@{/admin/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="uk-text-center uk-margin">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>