<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>

    <h1 class="uk-text-center">
        <a>
            <span uk-icon="icon: chevron-left; ratio: 2"></span>
        </a>

        <span class="uk-text-center" th:text="${monthName} + ', ' + ${currentYear}"></span>

        <a>
            <span uk-icon="icon: chevron-right; ratio: 2"></span>
        </a>
    </h1>

    <div class="uk-margin-large-top uk-margin-xlarge-left uk-margin-xlarge-right">
        <div class="gallery">
            <th:block th:each="i: ${#numbers.sequence(1, firstDayOfWeek - 1)}">
                <div class="card uk-card-default" style="background: grey"></div>
            </th:block>
            <th:block th:each="day: ${#numbers.sequence(1, daysOfMonth)}">
                <th:block th:if="${day == currentDay}">
                    <div class="card uk-card-default" style="background: greenyellow">
                        <span th:text="${day}"></span>
                    </div>
                </th:block>
                <th:block th:unless="${day == currentDay}">
                    <div class="card uk-card-default">
                        <span th:text="${day}"></span>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

</div>

<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>