<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper">
    <div th:replace="fragments/header :: navbar"></div>

    <div class="uk-margin-xlarge-top uk-position-top-center">
        <h1 class="uk-heading-small uk-text-center">In development</h1>
    </div>

</div>

<footer id="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>