<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="uk-margin-xlarge-top uk-position-top-center">
        <h1 class="uk-heading-small uk-text-center" th:text="#{in-development}"></h1>
    </div>

</div>

<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>