<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>
    <div th:switch="${action_result}">
        <div th:case="'has errors'">
            <script>
                errorMessage();
            </script>
        </div>
        <div th:case="'successfully'">
            <script>
                successMessage();
            </script>
        </div>
    </div>

    <div class="uk-position-top-center uk-margin-xlarge-top">
        <form th:action="@{/feedback}" th:method="POST" th:object="${message}">

            <h1 class="uk-heading-medium uk-text-center" th:text="#{send-feedback}"></h1>

            <div th:if="${#fields.hasErrors('text')}">

                <div class="uk-text-center uk-margin">
                    <div class="uk-alert-danger" uk-alert>
                        <p th:text="#{please-fill-in-form-fields-and-push-the-button-send}"></p>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <label>
                        <textarea id="textarea-size" class="uk-textarea" rows="5" cols="64" th:field="*{text}"
                                  th:placeholder="#{your-text}"></textarea>
                    </label>
                </div>
            </div>
            <div class="uk-text-center">
                <button class="uk-button uk-button-secondary" type="submit" th:text="#{send}"></button>
            </div>
        </form>
    </div>

</div>
<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>