<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="uk-margin-xlarge-top uk-position-top-center">
        <p class="uk-heading-small uk-text-center">Hello, <span th:text="${#authentication.name}"></span>!</p>
        <p class="uk-heading-small uk-text-center">Today is, <span th:text="${dateToday}"></span></p>
    </div>

</div>

<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>