<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>

    <div th:switch="${action_result}">
        <div th:case="'has errors'">
            <script>
                errorMessage();
            </script>
        </div>
        <div th:case="'successfully'">
            <script>
                successMessage();
            </script>
        </div>
    </div>

    <h1 class="uk-heading-medium uk-text-center uk-margin-large-top" th:text="#{inbox}"></h1>
    <div class="uk-container uk-margin-large-top">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">
                <thead>
                <tr>
                    <th class="uk-width-small" th:text="#{action}"></th>
                    <th class="uk-table-expand" th:text="#{message}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message : ${messages}">

                    <td>
                        <ul class="uk-iconnav">
                            <li>
                                <form th:action="@{/mail/{id}/remove(id=${message.messageId})}" method="post">
                                    <button class="uk-button uk-button-link" type="submit" uk-tooltip="delete">
                                        <span uk-icon="trash"></span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </td>

                    <td>
                        <a href="#" uk-toggle th:target="${'#modal-example'+message}">
                            <div th:if="${message.markAsRead == false}">
                                <strong th:text="${message.shortText()}"></strong>
                            </div>
                            <div th:if="${message.markAsRead == true}">
                                <span class="uk-text-secondary" th:text="${message.shortText()}"></span>
                            </div>
                        </a>

                        <div th:id="${'modal-example'+message}" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <article class="uk-article">
                                    <div class="uk-modal-header">
                                        <h1 class="uk-article-title">
                                            subject: <a class="uk-link-reset" href="">
                                            <span th:text="${message.user.userId}"></span>
                                        </a>
                                        </h1>
                                    </div>

                                    <p class="uk-article-meta" th:text="#{written-by-admin}"></p>

                                    <p class="uk-text-lead"></p>

                                    <p><span th:text="${message.text}"></span></p>
                                </article>
                                <div class="uk-margin">
                                    <div class="uk-text-center">
                                        <form th:action="@{/mail/{id}/markAsRead(id=${message.messageId})}"
                                              method="post">
                                            <button class="uk-button uk-button-primary" type="submit" th:text="#{ok}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="uk-text-center uk-margin-bottom">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>