<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My todo-List</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>
<div th:replace="fragments/user_navbar :: userNavbar"></div>
<div id="page-wrapper">
    <div class="uk-text-center uk-margin uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">

        <div th:switch="${message}">
            <div th:case="'has errors'">
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>ERRORS</p>
                </div>
            </div>
            <div th:case="'successfully'">
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>SUCCESSFULLY</p>
                </div>
            </div>
            <div th:case="'not found'">
                <div class="uk-alert-warning" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>NOT FOUND</p>
                </div>
            </div>

        </div>

    </div>

    <div class="uk-container">

        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">

                <thead>
                <tr>

                    <th class="uk-width-small"></th>
                    <th class="uk-table-expand">Task</th>
                    <th class="uk-width-small">
                        <form th:action="@{/sort}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'date'}"/>
                            <button class="uk-button uk-button-link" type="submit">DT</button>
                        </form>
                    </th>
                    <th class="uk-table-shrink">
                        <form th:action="@{/sort}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'priority'}"/>
                            <button class="uk-button uk-button-link" type="submit">PR</button>
                        </form>
                    </th>
                    <th class="uk-table-shrink">
                        <form th:action="@{/sort}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'type'}"/>
                            <button class="uk-button uk-button-link" type="submit">GR</button>
                        </form>
                    </th>
                </tr>
                </thead>

                <tbody>

                <div th:if="${tasks==null}">
                    <div th:replace="fragments/list_todo :: list(${defaultList}, ${newTask})"></div>
                </div>
                <div th:unless="${tasks==null}">
                    <div th:replace="fragments/list_todo :: list(${tasks}, ${newTask})"></div>
                </div>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="uk-text-center uk-margin">
    <a href="#" uk-totop uk-scroll></a>
</div>

<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>