<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>

    <div th:switch="${action_result}">
        <div th:case="'has errors'">
            <script>
                errorMessage();
            </script>
        </div>
        <div th:case="'successfully'">
            <script>
                successMessage();
            </script>
        </div>
    </div>

    <div id="note-nav">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-margin-top">
                    <li>
                        <a href="#" uk-icon="icon: plus-circle; ratio: 3.5"
                           th:uk-tooltip="#{create-note}"
                           uk-toggle
                           onclick="showCKEditor()">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="ckeditor-div" class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s" style="display:none;">
        <form th:action="@{/myNotes/create}" method="post" th:object="${newNote}">
            <div class="uk-margin-medium-top">
                <h2 class="uk-text-center" th:text="#{new-note}"></h2>
                <input class="uk-input uk-form-width-xlarge uk-margin-small-bottom"
                       type="text"
                       th:field="*{title}"
                       th:placeholder="#{enter-title}"/>
                <textarea th:field="*{text}"
                          name="editor"
                          id="editor"
                          th:placeholder="#{enter-text}">
            </textarea>
                <script>
                    createCKEditor();
                </script>
                <div class="uk-text-center">
                    <button class="uk-button uk-button-secondary uk-margin-small-top"
                            type="submit"
                            th:text="#{save}">
                    </button>
                    <button class="uk-button uk-button-default uk-margin-small-top"
                            type="button"
                            th:text="#{cancel}"
                            onclick="hideCKEditor()">
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="uk-container uk-margin-large-top">
        <div class="cards">
            <div th:each="note : ${noteList}">
                <article class="card">
                    <header>
                        <a class="uk-link-toggle"
                           th:id="${note.text}"
                           uk-toggle
                           th:target="${'#read-note'+note}"
                           th:onclick="formatText([[${note.noteId}]], [[${note.text}]])">
                            <h2 th:text="${note.getShortTitle()}"></h2>
                        </a>
                        <div th:id="${'read-note'+note}" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <button class="uk-modal-close-outside"
                                        type="button"
                                        uk-close>
                                </button>

                                <div class="uk-text-center">
                                    <h1 th:text="${note.title}"></h1>
                                </div>

                                <div th:id="note-text + ${note.noteId}" class="uk-text-center"></div>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <p style="word-break: break-all" th:text="${note.getShortText()}"></p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</div>
<div class="uk-text-center">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>