<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${note.title}"></title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div id="page-wrapper" class="uk-background-fixed uk-background-cover" data-src="/img/1093402.jpg" uk-img>
    <div th:replace="fragments/header :: navbar"></div>
    <input id="noteText" type="hidden" th:value="${note.text}">
<div class="uk-modal-container">
    <div class="uk-card uk-card-default uk-card-body uk-position-center">
        <h1 class="uk-card-title uk-text-center" th:text="${note.title}"></h1>
        <div id="text" class="uk-card-body"></div>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let noteText = document.getElementById('noteText');
        let dom = document.getElementById('text');
        dom.innerHTML = noteText.value;

        console.log(dom);
    });
</script>
</body>
<footer id="page-footer" class="uk-margin-top">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>