<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="createNewTodo(newTask)">


    <div class="uk-margin-large-top">
        <div class="uk-margin uk-margin-left">

            <a href="#modal-center" uk-icon="icon: plus-circle; ratio: 3.5" uk-tooltip="Create new Todo" uk-toggle></a>

            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-outside" type="button" uk-close></button>

                    <div class="uk-text-center">
                        <h1>new todo</h1>
                    </div>

                    <form th:action="@{/main/save}" th:method="post" th:object="${newTask}">

                        <div class="uk-grid-small" uk-grid>

                            <div class="uk-width-1-1">
                                <input class="uk-input" type="text" th:field="*{text}" placeholder="text">
                            </div>

                            <div class="uk-width-1-3@s">
                                <input class="uk-input" type="date" th:value="*{date}" th:field="*{date}">
                            </div>

                            <div class="uk-width-1-3@s">
                                <select class="uk-select" type="text" th:field="*{type}">
                                    <option th:value="${'without group'}">without group</option>
                                    <option th:value="${'shop'}">Shop</option>
                                    <option th:value="${'home'}">Home</option>
                                    <option th:value="${'work'}">Work</option>
                                    <option th:value="${'friends'}">Friends</option>
                                    <option th:value="${'family'}">Family</option>
                                    <option th:value="${'hobby'}">Hobby</option>
                                    <option th:value="${'money'}">Money</option>
                                    <option th:value="${'auto'}">Auto</option>
                                </select>
                            </div>

                            <div class="uk-width-1-3@s">
                                <select class="uk-select" type="number" th:field="*{priority}">
                                    <option th:value="${1}">1</option>
                                    <option th:value="${2}">2</option>
                                    <option th:value="${3}">3</option>
                                    <option th:value="${4}">4</option>
                                    <option th:value="${5}">5</option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-text-center">
                                <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="uk-margin uk-margin-large-top uk-margin-left">
            <a href="#" uk-icon="icon: clock; ratio: 3.5"></a>
            <div uk-dropdown="pos: right-center">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Активный</a></li>
                    <li><a href="#">Ссылка</a></li>
                    <li><a href="#">Ссылка</a></li>
                </ul>
            </div>
        </div>

        <div class="uk-margin uk-margin-left">
            <a href="#" uk-icon="icon: warning; ratio: 3.5"></a>
            <div uk-dropdown="pos: right-center">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Активный</a></li>
                    <li><a href="#">Ссылка</a></li>
                    <li><a href="#">Ссылка</a></li>
                </ul>
            </div>
        </div>

        <div class="uk-margin uk-margin-left">
            <a href="#" uk-icon="icon: grid; ratio: 3.5"></a>
            <div uk-dropdown="pos: right-center">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li class="uk-active"><a href="#">Активный</a></li>
                    <li><a href="#">Ссылка</a></li>
                    <li><a href="#">Ссылка</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>