<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="createNewTodo">
    <div uk-sticky="offset: 100">
        <a href="#modal-center" uk-icon="icon: plus-circle; ratio: 3.5" uk-tooltip="Create new Todo" uk-toggle></a>

        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-text-center">
                    <h1>New todo</h1>
                </div>
                <div class="uk-margin">
                    <form th:action="@{/main}" th:method="post">
                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" type="text" th:name="text"
                                   placeholder="Enter a name for new Todo">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" type="date" th:name="date">
                        </div>
                        <div class="uk-width-3-4@s">
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <select class="uk-select" type="text" th:name="type">
                                        <option>Add in group</option>
                                        <option>Shop</option>
                                        <option>Home</option>
                                        <option>Work</option>
                                        <option>Friends</option>
                                        <option>Family</option>
                                        <option>Hobby</option>
                                        <option>Money</option>
                                        <option>Auto</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-4@s">
                            <div class="uk-form-controls">
                                <select class="uk-select" type="number" th:name="priority">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>