<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="editTodo(editTask, newTask)">


    <button class="uk-button uk-button-link" type="button"
            uk-toggle th:target="${'#modal-example'+editTask}">
        <span uk-icon="pencil"></span>
    </button>


    <div th:id="${'modal-example'+editTask}" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-outside" type="button" uk-close></button>
            <div class="uk-text-center">
                <h1>edit todo</h1>
            </div>

            <form th:action="@{/save}" th:method="post" th:object="${newTask}">
                <input type="hidden" name="id" th:value="${editTask.id}"/>

                <div class="uk-grid-small" uk-grid>

                    <div class="uk-width-1-1">
                        <input class="uk-input" type="text" th:value="${editTask.text}" th:name="text">
                    </div>

                    <div class="uk-width-1-3@s">
                        <input class="uk-input" type="date" th:value="${editTask.date}" th:name="date">
                    </div>

                    <div class="uk-width-1-3@s">

                        <div class="uk-form-label">Priority</div>
                        <div class="uk-form-controls">
                            <input type="radio" th:name="priority"
                                   value="1" th:checked="${editTask.priority == 1}"> 1
                            <input type="radio" th:name="priority"
                                   value="2" th:checked="${editTask.priority == 2}"> 2
                            <input type="radio" th:name="priority"
                                   value="3" th:checked="${editTask.priority == 3}"> 3
                        </div>



                        <!--<select class="uk-select" type="text" th:value="${editTask.priority}"
                                th:name="priority">
                            <option th:value="${editTask.priority}"><span th:text="${editTask.priority}"></span>
                            </option>
                            <option th:value="${1}">1</option>
                            <option th:value="${2}">2</option>
                            <option th:value="${3}">3</option>
                            <option th:value="${4}">4</option>
                            <option th:value="${5}">5</option>
                        </select>-->
                    </div>

                    <div class="uk-width-1-3@s">
                        <select class="uk-select" type="text" th:value="${editTask.type}"
                                th:name="type">
                            <option th:value="${editTask.type}"><span th:text="${editTask.type}"></span></option>
                            <option th:value="${'General'}">General</option>
                            <option th:value="${'Shop'}">Shop</option>
                            <option th:value="${'Home'}">Home</option>
                            <option th:value="${'Work'}">Work</option>
                            <option th:value="${'Friends'}">Friends</option>
                            <option th:value="${'Family'}">Family</option>
                            <option th:value="${'Hobby'}">Hobby</option>
                            <option th:value="${'Money'}">Money</option>
                            <option th:value="${'Auto'}">Auto</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-center">
                        <button class="uk-button uk-button-primary" type="submit">Сохранить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>