<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="footer">
    <nav id="footer-background" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <div class="uk-navbar-item">
                    TodoGo | copyright(c).
                </div>
                <div class="uk-navbar-item" sec:authorize="hasRole('USER')">
                    <a class="uk-text-right"
                       th:href="@{/feedback}"
                       th:text="#{feedback}"></a>
                </div>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <h1 class="uk-text-secondary" th:text="#{todo-go}"></h1>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>