<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="header-css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{css/uikit.min.css}" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <style>
            html, body {
                height:100%;
            }

            #page-wrapper {
                min-height: calc(100% - 20px);
                margin-bottom: -60px;
            }
            #page-wrapper:after {
                content: "";
                display: block;
            }
            #page-footer, #page-wrapper:after {
                height: 60px;
            }
            #page-footer {
                background-color: #f5f5f5;
            }
        </style>
    </div>
</head>
<body>
<div th:fragment="navbar">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a th:href="@{/main}" sec:authorize="isAuthenticated()">
                            <div class="uk-margin-small-left">
                                <span uk-icon="icon: home; ratio: 2"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a th:href="@{/}"><h2>TodoGO</h2></a>
                    </li>
                </ul>
            </div>

            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav">
                    <div class="uk-navbar-item">

                        <div>
                            <a class="uk-navbar-toggle" uk-icon="icon: search; ratio: 1.5"
                               sec:authorize="isAuthenticated()" href="#"></a>
                            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                <form th:action="@{/search}" th:method="post"
                                      class="uk-search uk-search-navbar uk-width-1-1">
                                    <input class="uk-search-input" type="search"
                                           th:name="searchText" placeholder="search" autofocus>
                                </form>
                            </div>
                        </div>

                    </div>
                    <li>
                        <a href="#" sec:authorize="isAuthenticated()">
                            <span uk-icon="icon: user; ratio: 2"></span>
                        </a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-navbar-dropdown-nav">

                                <li class="uk-nav-header">
                                    <span th:text="${#authentication.name}"></span>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <form th:action="@{/logout}" method="post">
                                    <button class="uk-button uk-button-text" type="submit">Sign Out
                                    </button>
                                </form>
                            </ul>
                        </div>
                    </li>
                    <li><a th:href="@{/login}" sec:authorize="isAnonymous()">Sign In</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
