<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="header-css">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="/css/main.css">
    </div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">TodoGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/main}">Home</a>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/main}">Sign In</a>
                    </li>
                </div>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
        <span class="navbar-text">
        <div th:text="${#authentication.name}"></div>
        </span>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-dark" type="submit">Sign Out</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
