<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="left-panel">
    <div class="uk-section">
    <div class="uk-container-small">
        <div class="uk-grid-small uk-grid-collapse uk-grid" uk-height-viewport uk-grid>
            <div class="uk-width-1-6@s uk-background-muted uk-padding">
                <nav>
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                        <li class="uk-active"><a href="#">Tasks</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>