<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="panel">
    <div class="uk-margin-xlarge-top">
        <div class="uk-margin uk-margin-left uk-margin-right">
            <button class="uk-button uk-button-link uk-margin">
                <span uk-icon="icon: play; ratio:2"></span>
            </button>
        </div>
        <div class="uk-margin uk-margin-left uk-margin-right">
            <button class="uk-button uk-button-link uk-margin">
                <span uk-icon="icon: warning; ratio:2"></span>
            </button>
        </div>
        <div class="uk-margin uk-margin-left uk-margin-right">
            <button class="uk-button uk-button-link uk-margin">
                <span uk-icon="icon: grid; ratio:2"></span>
            </button>
        </div>
    </div>
</div>
</body>
</html>