<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="list(tasks, newTask)">
    <tr th:each="task : ${tasks}">


        <td>
            <ul class="uk-iconnav">
                <li>
                    <div th:replace="fragments/edit_todo :: editTodo(${task}, ${newTask})"></div>
                </li>
                <li>
                    <form th:action="@{/delete}" method="post">
                        <input type="hidden" name="id" th:value="${task.id}"/>
                        <button class="uk-button uk-button-link" type="submit">
                            <span uk-icon="trash"></span>
                        </button>
                    </form>
                </li>
            </ul>
        </td>

        <td th:text="${task.getText()}"></td>
        <td th:text="${#dates.format(task.date, 'dd.MMM.yyyy')}"></td>
        <td th:text="${task.getPriority()}"></td>
        <td th:text="${task.getType()}"></td>
    </tr>
</div>
</body>
</html>