<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div id="page-wrapper">
    <div class="uk-container">
        <table class="uk-table uk-table-hover uk-table-divider uk-background-muted">
            <thead>
            <tr>
                <th>Text</th>
            </tr>
            <tr>
                <th>From</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="feedback : ${feedbacks}">
                <td th:text="${feedback.shortText()}"></td>
                <td th:text="${feedback.getUser().getUsername()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="uk-text-center uk-margin">
    <a href="#" uk-totop uk-scroll></a>
</div>
<footer id="page-footer" class="uk-margin-top" uk-sticky>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>