<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome, guest!</title>
    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>
<div id="page-wrapper">
    <div th:replace="fragments/header :: navbar"></div>

    <div class="uk-container">
        <div class="uk-margin-large-top uk-text-center">
            <h1>Hello, guest!</h1>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container uk-background-muted">
            <h2>TodoGo is a simple list of daily tasks, with the ability to quickly create, edit, and delete.</h2>
        </div>
    </div>

    <img class="uk-align-right uk-margin-large-right"
         src="/img/task_on_guest_page.png" width="580" height="580" alt="">

    <div class="uk-container uk-margin-medium-left">
        <div class="uk-container uk-margin-large-left">

            <h3><span class="uk-text-background">Current version: 0.9</span></h3>
            <hr class="uk-divider-small">
        </div>


        <div class="uk-container uk-margin-large-left">
            <h2>Features:</h2><br>
            <div class="uk-margin-large-left">
                <h3>Sort tasks by:</h3><br>

                1. Priority<br>
                2. Date<br>
                3. Groups<br>

                <h3>Task Filter by:</h3><br>


                1. The 10 nearest tasks<br>
                1. Priority number<br>
                2. Groups

                <hr class="uk-divider-small">
                <h1><a class="uk-link-heading uk-text-background" th:href="@{/registration}">
                    Try for free
                </a></h1>
                <div class="uk-margin-large"></div>
            </div>
        </div>
    </div>
</div>

<footer id="page-footer">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>