<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div th:replace="fragments/header :: panel"></div>


<div class="uk-margin-xlarge-top uk-position-top-center">
    <h1>Hello, user!</h1>
</div>

<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>