<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div uk-grid>

    <div class="uk-width-auto">
        <div th:replace="fragments/create_todo :: createNewTodo(${newTask})"></div>
    </div>

    <div class="uk-width-expand">


        <div class="uk-text-center uk-margin uk-margin-medium-top uk-margin-xlarge-left uk-margin-xlarge-right">
            <div>
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-text-center@s uk-card-body">

                        <div th:switch="${message}">
                            <p th:case="'has errors'">ERRORS</p>
                            <p th:case="'successfully'">SUCCESSFULLY</p>
                            <p th:case="'not found'">TASK NOT FOUND</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="uk-container">

            <table class="uk-table uk-table-hover uk-table-divider">

                <thead>
                <tr>

                    <th class="uk-width-small"></th>
                    <th class="uk-table-expand">Task</th>
                    <th class="uk-width-small">
                        <form th:action="@{/sortMyTasks}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'date'}"/>
                            <button class="uk-button uk-button-link" type="submit">DT</button>
                        </form>
                    </th>
                    <th class="uk-table-shrink">
                        <form th:action="@{/sortMyTasks}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'priority'}"/>
                            <button class="uk-button uk-button-link" type="submit">PR</button>
                        </form>
                    </th>
                    <th class="uk-table-shrink">
                        <form th:action="@{/sortMyTasks}" th:method="POST">
                            <input type="hidden" name="sortBy" th:value="${'type'}"/>
                            <button class="uk-button uk-button-link" type="submit">GR</button>
                        </form>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="task : ${tasks}">
                    <td>
                        <ul class="uk-iconnav">
                            <li>
                                <div th:replace="fragments/edit_todo :: editTodo(${task}, ${newTask})"></div>
                            </li>
                            <li>
                                <form th:action="@{/main/delete}" method="post">
                                    <input type="hidden" name="id" th:value="${task.id}"/>
                                    <button class="uk-button uk-button-link" type="submit">
                                        <span uk-icon="trash"></span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </td>

                    <td th:text="${task.getText()}"></td>
                    <td th:text="${#dates.format(task.date, 'dd.MMM.yyyy')}"></td>
                    <td th:text="${task.getPriority()}"></td>
                    <td th:text="${task.getType()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-text-center uk-margin">
            <a href="#" uk-totop uk-scroll></a>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>