<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div uk-grid>

    <div class="uk-width-auto uk-background-muted">
        <div th:replace="fragments/left-panel :: panel"></div>
    </div>

    <div class="uk-width-expand">

        <div th:replace="fragments/create_todo :: createNewTodo"></div>

        <div class="uk-container uk-margin-medium-top uk-background-muted">

            <table class="uk-table uk-table-hover uk-table-divider">

                <thead>
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>PR</th>
                    <th>DT</th>
                    <th>GR</th>
                    <th>NF</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="task : ${tasks}">
                    <td>
                        <form th:action="@{/main/delete}" method="post">
                            <input type="hidden" name="id" th:value="${task.id}"/>
                            <button class="uk-button uk-button-link" type="submit">
                                <span uk-icon="trash"></span>
                            </button>
                        </form>
                    </td>

                    <td>
                        <a href="#modal-editor" uk-toggle><span th:text="${task.getText()}"></span></a>

                        <div id="modal-editor" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-text-center">
                                    <h1>Edit</h1>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><span th:text="${task.getPriority()}"></span></td>
                    <td><span th:text="${task.getDate()}"></span></td>
                    <td><span th:text="${task.getType()}"></span></td>
                    <td><span th:text="${task.getNotification()}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-text-center uk-margin">
            <a href="#" uk-totop uk-scroll></a>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: scripts"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>